{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "semi": true,
  "endOfLine": "lf",
  "trailingComma": "es5",
  "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"],
  "pluginSearchDirs": false
}
